html {
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

/* Tusker Grotesk Semibold */
@font-face {
  font-family: 'Tusker Grotesk';
  src: url('assets/fonts/Tusker.otf') format('opentype');
  font-style: normal;
}

/* Fleuron Regular */
@font-face {
  font-family: 'Fleuron';
  src: url('assets/fonts/FleuronRegular.otf') format('opentype');
  font-style: normal;
}
